
build/badcoiq/.vs
build/badcoiq/x64
build/badcoiq/Debug
build/badcoiq/Release
*.idb
*.pdb
*.lib
build/badcoiq.d3d11/Debug
build/badcoiq.d3d11/Release
build/badcoiqConsoleApplication1/Debug
build/badcoiq.imageloader/Debug
*.exe
build/badcoiq.meshloader/Debug
build/bzip2/Debug
build/fastlz/Debug
build/minizip/Debug
build/zlib/Debug
build/jpeglib/Debug
build/libpng/Debug
tools/bingen/Debug
build/demo/Debug
build/demo/Release
build/badcoiq.xaudio/Debug
build/badcoiq.xaudio/Release
build/badcoiq.imageloader/Release
build/badcoiq.meshloader/Release
build/badcoiqConsoleApplication1/Release
build/bzip2/Release
build/jpeglib/Release
build/minizip/Release
build/libpng/Release
tools/bingen/Release
build/zlib/Release
build/fastlz/Release
data/sounds/Reload.wav
data/sounds/Reload44100.wav
data/sounds/alien_beacon44100_float_resample_100000.wav
data/sounds/song1_MakeStereo_float32_resampled50000.wav
bin32/test_aftereffect.wav
tools/ModelEditor/Debug
tools/ModelEditor/Release
build/libogg/Debug
build/libogg/Release
build/libvorbis/Debug
build/libvorbis/Release
build/opus/Debug
build/opus/Release
build/opusfile/Debug
build/opusfile/Release
tools/3dsmaxplugin/.vs
*.aps
tools/3dsmaxplugin/x64/Debug
tools/3dsmaxplugin/x64/Release
data/models/Jill
*.dle
build/badcoiq/badcoiq/Debug
tools/3dsmaxplugin/bmdl/x64
build/badcoiq/badcoiq/Release
*.pgd
/bin32/plugins
/build/badcoiq.d3d11/x64
/build/badcoiq.imageloader/x64
/build/badcoiq.meshloader/x64
/build/badcoiq/badcoiq/x64
/build/badcoiqConsoleApplication1/x64
/build/bzip2/x64
/build/demo/x64
/build/fastlz/x64
/build/jpeglib/x64
/build/libogg/x64
/build/libpng/x64
/build/libvorbis/x64
/build/minizip/x64
/build/opus/x64
/build/opusfile/x64
/build/zlib/x64
/tools/3dsmaxplugin/bmdl/Debug
/tools/bingen/x64
/tools/ModelEditor.BasePlugin/Debug
/tools/ModelEditor/x64
/tools/ModelEditor.BasePlugin/x64
