
build/badcoiq/.vs
build/badcoiq/x64
build/badcoiq/Debug
build/badcoiq/Release
*.idb
*.pdb
*.lib
build/badcoiq.d3d11/Debug
build/badcoiq.d3d11/Release
build/badcoiqConsoleApplication1/Debug
build/badcoiq.imageloader/Debug
*.exe
build/badcoiq.meshloader/Debug
build/bzip2/Debug
build/fastlz/Debug
build/minizip/Debug
build/zlib/Debug
build/jpeglib/Debug
build/libpng/Debug
tools/bingen/Debug
build/demo/Debug
build/demo/Release
